parameters:
    level: max
    paths:
        - src
        - test

    excludePaths:
        - vendor
        - coverage

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        # Add specific ignores here if needed

    bootstrapFiles:
        - vendor/autoload.php
